{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
	<div class="container">
		<h1 class="text-center">Admin Single Post View</h1>	
		<div class="col-md-2">
			<a href="{{url_for('post.index')}}" class="btn btn-sm btn-primary btn-block"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View All Posts</a>
			<a href="{{url_for('post.new_post')}}" class="btn btn-sm btn-success btn-block"> Create Blog Post</a>
			<a href="{{url_for('post.update',id = post.id)}}" class="btn btn-sm btn-success btn-block"> Update Blog Post</a>
			<a href="{{url_for('post.delete_post',id = post.id)}}" class="btn btn-sm btn-danger btn-block"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Article</a>
		</div>
		<div class="col-md-8">
			Title :{{post.title}}<br>
			Post : {{post.post}}

		</div>
		<div class="col-md-2"></div>
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			
			 {%if comments%}
			 
			<table class="table table-bordered hover">
			<tr>
			    
			    <th>Name</th> 
			    <th>Email</th>
			    <th>Comment</th>
			    <th></th>

			 </tr>
			 {% for comment in comments%}
				 <tr>
				   
				    <td>{{comment.name}}</td> 
				    <td>{{comment.email | truncate(70)}}</td>
				    <td>{{comment.comment}}</td>
				    <td>
				    	<a href="{{url_for('post.delete_comment',id = comment.id)}}" class="btn btn-sm btn-danger">Delete Article</a>
				    </td>
				 </tr>
			 {% endfor%}
				 </table>
			 
			 {%else%}
			 <h2 class="text-center">This post has no comment yet!</h2>
			 {% endif %}
			 
		  
		
		</div>
		<div class="col-md-2"></div>
	</div>
	</div>
  
{% endblock %}

