{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
	<div class="container">
	<h1 class="text-center">Update Blog Post</h1>	
	<div class="col-md-2">
		<a href="{{url_for('post.index')}}" class="btn btn-sm btn-primary btn-block">View All Posts</a>
		<a href="{{url_for('post.new_post')}}" class="btn btn-sm btn-success btn-block"> Create Blog Post</a>
	</div>
	<div class="col-md-8">
		{%if post.image%}
			<img src="{{url_for('static',filename=post.image)}}" alt="" class="img-thumbnail">
		{%else%}
			<img src="{{url_for('static',filename= 'photos/yes.jpg')}}" alt="" class="img-thumbnail">
		{%endif%}
		{{wtf.quick_form(postForm)}}
		{{simplemde.load}}
	</div>
	<div class="col-md-2"></div>
	</div>
  
{% endblock %}

