{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
			<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
			</div>
	{% endfor %}
	
	Post Title: {{post.title}}
	<br>
	Post Body : {{postBody| safe}}
	<div class="row">
		<div class="col-md-6">
			{{wtf.quick_form(commentForm)}}
		</div>
		<div class="col-md-6">
		{% if blogComments%}
			{% for comment in blogComments%}
					<p>Name:{{comment.name}}<br>
						Comment:{{comment.comment}}	
					</p>
			{% endfor%}
		{% else %}
			<p>This Post Currently Does Not Have Comments</p>
		{% endif %}
			
			
		</div>
		
	</div>
	

</div>


{% endblock %}